<!doctype html>
<html>
  <head>
    <title>All About the Buttle</title>
    <% if(useBootstrap) { %><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css"><% } %>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>

  <div class="container">
    <h1>Every day I'm buttle'n</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.</p>
  </div>

  <% if(useJquery) { %><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.js" type="text/javascript" charset="utf-8"></script><% } %>
  <% if(useBootstrap) { %><script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js" type="text/javascript" charset="utf-8"></script><% } %>
  <script src="scripts/main.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
